@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/


/* 초기화 : 마진0,패딩0 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}
/* html 루트 설정 */
html{
    font-size: 10px;
    /* rem단위 글자계산편의 위해 */
    scroll-behavior: smooth;
}

/* 전체 배경이미지 */
body{
    padding-top: 100vh;
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    
}

/* 공사중 표시 */
body * {
    outline: 2px dashed yellow;
}

/**************** 공통 클래스 ****************/
/* 메탈배경 클래스 */
.metal1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/**************** 1.상단영역 ****************/
h1.logo{
    position:fixed;
    top: calc(50% - 10vw);
    left: calc(50% - 10vw);

    width: 20vw;
    height: 20vw;
    z-index: 9;
    border-radius: 50%;
    background: pink url(../images/robot_03.png) no-repeat center/auto 100% ;
    box-shadow: inset 0 0 20px 10px #000000bb, 0 0 20px 10px aqua ;
    /* 글자설정 */
    text-align: center;
    line-height: 20vw;
    font-family: 'Orbitron', sans-serif;
    font-size: 4vw;
    color: lightgray;
    text-shadow: 0 0 20px #000;

}



/* TOP이동 버튼 만들기*/
.btn-top{
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 5px outset #01ff88;
    z-index: 10;
    background-color: #ccc;
    
    

}


/* a요소 확장 */
.btn-top a{
    display: block;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    color: #ff2b2b;
    font: 1.4vw/5vw 'Black Ops One';
    
}



/* 오버시 설정 */
.btn-top:hover{
background-color: yellow;
border-style: inset solid;

}

/**************** 2.메인영역 ****************/
/* 2-1.로봇박스 */
.robot-box{
    position: fixed ;
    top: 0;
    left: 50%;
    transform: scale(.3) translateX(340%) translatey(-75%);
    margin-top: 200px;
    margin-bottom: 560px;


    /* 박스내에 있는 모든 요소의 외곽선에 그림자(글로우)효과르ㅏㄹ 주기는
    filter:drop-shadow(); */
    filter:drop-shadow(0 0 20px aquamarine);
    }
/* 2-1-1.로봇머리 */
.head{
    position: relative;
    /* 부모자격 - .eye의 부모 */
    width: 214px;
    height: 245px;
    /*  특정크기를 가지는 블록요소를
    가로중앙으로 이동하기 - 마영오~! */
    margin: 0 auto;

    /* 모서리 라운드처리
    왼쪽위부터 시계방향 수치입력 */
    border-radius: 110px 43px 101px 101px;
}
/* 로봇머리 가상요소로 가발만들기 */
.head::after{
    content: '';
    position: absolute;
    /* 부모는 .head */
    top: -93px;
    left: -83px;
    width: 387px;
    height: 327px;
    background: url(../images/hair_new2.png) no-repeat 0/100% 100%;
}

/* 눈공통 */
.eye{
    position: absolute;
    /* 부모는? .head */
    top: 50px;
    /* 크기공통 */
    width: 50px;
    height: 50px;
    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;

    /* 둥근눈 */
    border-radius: 50%;
    /* 이중테두리 */
    border: 4px double #000;
}
/* 왼눈 */
.eye1{
    left: 33px;
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eye2{
    right: 33px;
    background-image: url(../images/e2.jpg);
}

/* 코 */
.nose{
    position: absolute;
    top: 101px;
    left: 82px;
    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat -7px/cover;
    border-radius: 20px;
}
/* 입 */
.mouth{
    position: absolute;
    top: 184px;
    left: 50px;
    width: 112px;
    height: 48px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀공통 */
.ear{
    position: absolute;
    top: 70px;
    width: 58px;
    height: 90px;
}
/* 왼귀 */
.ear1{
    left: -58px;
    /* 라운드처리 */
    border-radius: 20px 0 0 20px;
}
/* 오른귀 */
.ear2{
    right: -58px;
    /* 라운드 처리 */
    border-radius: 0 20px 20px 0;
}

/* 2-1-2.몸통 */
.body{
    position: relative;
    /* 부모자격 - 하위직계 자식 div들 */
    width: 220px;
    height: 350px;
    /* 마.영.오! */
    margin: 0 auto;
    margin-top: 50px;
    /* 배경이미지 조정 */
    /* background-repeat: repeat; */
    background-size: 80%;
}

/* 몸통 가상요소로 상의 만들기 */
.body::before{
    content: '';
    position:absolute;
    /* 부모는?.body */
    top: 0;
    left: -5%;
    width: 110%;
    height: 55%;
    background-image: linear-gradient(to bottom,#bbe93b,#01ff88);
    border-radius: 10px 10px 30px 30px;
    
}
/* 몸통 가상요소로 하의 만들기 */
.body::after{
    content: '';
    position:absolute;
    /* 부모는?.body */
    bottom: -5%;
    left: -5%;
    width: 110%;
    height: 35%;
    background-image: linear-gradient(to bottom,#ff7e7e,#ff2b2b);
    border-radius: 10px 10px 30px 30px;

    
}


/* 목 */
.neck{
    position: absolute;
    top: -108px;
    left: calc(50% - 50px/2);
    /* 
        [ 가로/세로 중앙보내기 계산법 ]
        top : calc(50% - 크기/2)
        left : calc(50% - 크기/2)
        -> 크기는 left일 경우 width이고
        top일 경우 height값이다!
    */
    width: 50px;
    height: 120px;
}

/* 팔공통 */
.arm{
    position: absolute;
    top: 15px;
    /* 부모는? .body */
    width: 50px;
    height: 180px;
}
/* 팔 원형관절 가상요소 공통 */
.arm::before{
    content: '';
    position: absolute;
    /* 부모는?.arm */
    top: calc(100% - 50px/2);
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #ccc;
    z-index: 1;

    /* 보더때문에 박스가 커지므로
    패딩, 보더 포함박스 설정하기 */
    box-sizing: border-box;
}
.arm::after{
    content: '';
    position: absolute;
    /* 부모는?.arm */
    top: calc(100% - 40px/2);
    /* 부모박스 바깥으로 모두 밀고 원크기 절반만 빼기 */
    left: calc(50% - 40px/2);
    /* 부모박스 절반만큼 밀고 원크기 절반뺴기 */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    background-image: linear-gradient(to bottom, #ccc,#222);
      /* 박스 내부그림자 : bsh->inset 키워드(내부그림자) */
    box-shadow: inset 0 0 5px #333;



    z-index: 1;
    

    /* 보더때문에 박스가 커지므로
    패딩, 보더 포함박스 설정하기 */
    box-sizing: border-box;
}

.leg span::before{
    content: '';
    position: absolute;
    border: 4px solid #000;
    width: 110%;
    height: 123px;
    background-color: #888;
    left: -10%;
    top: 37%;
    background-image: linear-gradient(to right, #ccc, #333);
    box-shadow: inset 0 10px 0 black;


}
.leg span::after{
    content: '';
    position: absolute;
    top: 90%;
    left: -15%;
    border: 4px solid #000000;
    border-radius: 30px 30px 0 0;
    background-image: linear-gradient(-45deg, #ccc, #333);
    box-shadow:  0 10px 0 black;
    width: 120%;
    height: 30%;
}
/* 팔하단공통 */
.arm span{
    position: absolute;
    /* 부모는? .arm */
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
}
/* 팔하단 가상요소 손만들기 공통 */
.arm span::after{
    content: '';/* ct */
    position: absolute;
    top: 100%;
    
    /* 부모는? span */
    width: 70px;
    height: 120px;
    outline: 2px dotted red;

    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;



}
/* 왼손 */
.arm1 span::after{
    left: -9px;
    background-image: url(../images/hand_left.png);
}
/* 오른손 */
.arm2 span::after{
    left:-24px;
    background-image: url(../images/hand_right.png);
    
}
/* 왼팔 */
.arm1{
    left: -62px;
}
/* 오른팔 */
.arm2{
    right: -62px;
}

/* 다리공통 */
.leg{
    position: absolute;
    top: 100%;
    /* 부모는? .body */
    width: 70px;
    height: 200px;
    border-radius: 0 0 20px 20px;
}
/* 다리하단공통 */
.leg span{
    position: absolute;
    /* 부모는? .leg */
    top: 100%;
    left: 10%;
    width: 80%;
    height: 100%;
}
/* 다리 사각관절 공통 */
.leg::before{
        content: '';
        position: absolute;
        /* 부모는?.arm */
        top: calc(100% - 50px/2);
        /* 부모박스 바깥으로 모두 밀고 원크기 절반만 빼기 */
        left: calc(100% - 125px/2);
        /* 부모박스 절반만큼 밀고 원크기 절반뺴기 */
        width: 50px;
        height: 40px;
        border-radius: 30%;
        border: 2px solid #000;
        background-image: linear-gradient(to bottom, #ccc,#222);
          /* 박스 내부그림자 : bsh->inset 키워드(내부그림자) */
        box-shadow: inset 0 0 5px #333;
    
    
    
        z-index: 1;


}
/* 왼다리 */
.leg1{
    left: 0px;
   
    
}
/* 오른다리 */
.leg2{
    right: 0px;
}



/* 어깨공통 */
.shdr{
    position: absolute;
    width: 60px;
    height: 60px;
    
}
/* 왼어깨 */
.shdr1{
    left: -71px;
    /* 둥근모서리 */
    border-radius: 30px 0 0 ;
}
/* 왼어깨 */
.shdr2{
    right: -71px;
    /* 둥근모서리 */
    border-radius: 0 30px 0 0 ;
}

/* TV */
.tv{
    position: absolute;
    top: 3px;
    left: 11px;
    width: 200px;
    height: 150px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
}


/* 스크린 */
.screen{
    position: absolute;
    /* 부모는?.tv */
    top: 15px;
    left: 10px;
    width: 140px;
    height: 103px;
    /* border: 2px dashed blue; */
    border-radius: 10px;
    /* 자식 유튜브 아이프레임 넘치는부분 숨기기 */
    overflow: hidden;/* oh */
}
.screen iframe{
    position: absolute;                              
    /* 부모는 스크린 */
    top: -1px;
    left: 0px;
    width: 145px;
    height: 112px;
}



/* 2-2.로봇 설명박스 */
.text-box{
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    padding: 15px 30px;
    background-color: #0000007c;
    border-radius: 20px;
    /* 박스내부그림자 */
    box-shadow: 
    inset 0 0 20px blue, 
    inset 0 0 20px 10px cyan;
    
    
    /* [백드롭 필터효과] 
    <filter-function> 값
    backdrop-filter: blur(2px); ->흐림
    backdrop-filter: brightness(60%); ->밝기
    backdrop-filter: contrast(40%); ->대비
    backdrop-filter: drop-shadow(4px 4px 10px blue); ->그림자
    backdrop-filter: grayscale(30%); ->흑백
    backdrop-filter: hue-rotate(120deg); ->색상변경
    backdrop-filter: invert(70%); ->반전
    backdrop-filter: opacity(20%); ->투명도
    backdrop-filter: sepia(90%); ->세피아효과
    backdrop-filter: saturate(80%); ->채도
     
    ->복합적용가능!
    backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%);
    */
    backdrop-filter: blur(6px);/* badf */

    
}

/* 2-2-1.제목 */
.text-box h2{
    position: sticky;
    top: 0;
    /* 부모 */

    /* 글자크기 35px->em단위 */
    font-size: 3.5rem;
    text-align: center;
    background-color: #ffffff60;
    border-radius: 50px;
    color: limegreen;
    text-shadow: 3px 3px 3px #222;
    vertical-align: middle;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: normal;
}

.text-box small{
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(255, 255, 76);
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 2px 2px 1px #000;
    padding: 10px;
}

.text-box p::first-letter{
    color: hotpink;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 3px 3px 3px #acacac;

    
}

.text-box p{
    font-family: 'Barlow';
    font-size: 1.7rem;
    /* 줄간격 */
    line-height: 1.7;
    /* 자간 */
    letter-spacing: 1px;
    /* 단어간격 */
    word-spacing: 2px;

    /* 
        [다단설정하기]
        -다중열속성
        ->column-count: 다중열개수
        ->column-rule: 다중열개수
        ->column-gap: 다중열사이간격
    */
    column-count: 3;
    /* 사이구분선은 border와 유사 */
    column-rule: 5px dotted lightgreen;
    /* column-rule: 두께 종류 색; */
    /* 사이간격 */
    column-gap: 50px;

    /* 양쪽정렬 */
    text-align: justify;/* taj */
    /* 영문자는 단어를 깨줘야함! */
    word-break: break-all;/* wbb */

    /* 첫줄 들여쓰기: text-indent: ;(ti) 
    A글자 안쪽으로 들어가게 하는게 들여쓰기*/
    text-indent: 40px;
}

/* 
    [ 원형 그라데이션 ]

    - 기본형, 영역지정형은 박스모양을 따라감!

    1) 기본형: 중앙중심, 모양은 박스크기에 맞춤
    background-image: 
        radial-gradient(색1,색2,색3,...);
    - 시작색으로부터 중앙에서 시작됨

    2) 영역 지정형:
    background-image: 
        radial-gradient(색1 몇%,색2 몇%,색3 몇%,...);
    - 색 뒤에 한칸 띄고 %수치로 영역지정함

    3) 그라데이션 모양을 원형으로 사용할 경우:
    background-image: 
        radial-gradient(circle,색1,색2,색3,...);
    - circle 키워드를 첫번째에 사용함

    4) 영역옵션 지정형: 중심점 변경
    background-image: 
        radial-gradient(옵션 at 가로위치 세로위치,색1,색2,색3,...);
    - 옵션4가지 : closest-side / farthest-side
                closest-corner / farthest-corner
                ___________________________________
                - closest는 중심점으로 좀더 모아진것
                - farthest는 중심점에서 멀리 퍼진것
                - side와 corner는 경계선과 끝부분옵션임
    - 가로위치, 세로위치 (중심점) - 단위는 px / %
*/
.link-title :hover{
    color: #01ff88;
    background-image: radial-gradient(circle, red,green,blue);

}  
    


.link-title span{
    position: absolute;
    width: 300px;
    height: 90px;
    left: 148%;
    top: -24%;
    
    /* border: 13px dashed red; */
    outline: 10px dashed red;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 50px;
    text-decoration: none;
    color: #ff869a;
    font-weight: bold;
    /* box-sizing: border-box; */    
    transform: scale(0);
    z-index: 1;
}


/* 가상요소로 삼각형 만들기 */
.link-title::before{
    content: '';
    position: absolute;
    left: 303px;
    top: -104px;
    transform: rotate(45deg);

    /* 가로,세로 크기0 */
    width: 0;
    height: 0;
    /* 보더탑 크기+색 설정 */
    border-top: 60px solid red;
    /* 양쪽보더 크기+투명색 설정 */
    border-left: 20px solid transparent ;
    border-right: 20px solid transparent ;

    
}
/**************** 3.하단영역 ****************/
/* 3-1. 회사정보 */
#bottom-area{
    color: #fff;
    /* 글자크기: 30px, 글자체 'black ops one' */
    font: 3rem "black ops one";
    text-shadow: 2px 2px 2px #333;
    text-align: center;
    padding: 7vmin ;
    /* 반투명 배경넣기: 검은색 반투명(0.5) */
    background-color: rgb(0 0 0 /0.5);
    position: relative;
    z-index: 1;
    margin-top: 100px;

}











/* ******************************************************************** 



    transform: translateX(200px) scale(1);
    
    transform-origin: left bottom;
    width: 40vw;
    height: 20vw;
  
    
  
    text-decoration: none;
    color: orangered;
    font-size: 5vw;
  
  
  }
  .link-title span{
    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 20vw;
    border: 10px dashed orangered;
    box-sizing: border-box;
    z-index: 1;
  }
   가상요소로 삼각형 만들기
  .link-title::after{
    content: '';
    position: absolute;
    top: 62.7%;
    left: -8%;
     왜%인가? 유동적인 부모를 기준한 위치값이다!
    transform: rotate(43deg);
     가로,세로 크기 0 
    width: 0;
    height: 0;
     보더탑 크기+색 설정 
    border-top: 11vw solid orangered;
     양쪽보더 크기+투명색 설정
    border-left: 1.5vw solid transparent;
    border-right: 1.5vw solid transparent;
  }



<!-- 2-1-0.로봇말풍선 -->
          <a href="#text-box" class="link-title">
            <span>What is Robot?</span>
          </a>

 

          *********************************************************************/