@charset "utf-8";

/* 스크롤 애니메이션 셋팅 */
html{
    scroll-behavior: smooth;
    /* html즉, root에 부드러운 스크롤 설정을 하면 
    이동시 스크롤 애니메이션이 연출된다!  */
}





/* 마진, 패딩 초기화 */
html,body,h1,h2,h3,p{
    margin: 0;
    padding: 0;
}



/* 인트로 사이트 메인css-main.css */

html,body,.page{
/* 높이값 보이는 화면 기준 채우기 */
    height: 100%;
}


body {
/* 배경은 body에다가 주기*/
background-blend-mode: color-dodge;
background: url(../images/matrix.webp) no-repeat fixed center/cover,
linear-gradient(to right, rgb(207, 252, 224) 10%,rgb(255, 144, 144) 30%,rgb(148, 153, 255) 70%, rgb(207, 252, 224) 90%);

/* 배경 */
/* background: 
url(../images/matrix.webp) no-repeat 50% top/40% 100%,
linear-gradient(to bottom, rgb(175, 255, 190), rgb(103, 255, 125)); */
}


/* background-image: 
    linear-gradient(to bottom,rgb(205, 255, 227),rgb(247, 206, 255)); */


    /* 
    [선형 그라데이션]    
    background-image:
    linear-gradient(방향,색1,색2,색3,...) 
    -방향:
    to top, to left, to right, to bottom
*/

/* 메뉴 */
.menu{
    width: 800px;
    background-color: #ffa0bb7b;
    border-radius: 33px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
/* 메뉴 하위 h1, h2옆으로 흐르게 display 변경하기 
???어디가 적용된지 정확히 모름*/
.menu> *{
    display: inline-block
}

/* 컨텐츠 박스 */
.link-box{
    border: 2px dashed #000;
    border-radius: 33px;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(0, 139, 139, 0.63);
    
    
}

